.product-card {
  border: 1px solid #ddd;
  height: 100%;
  margin-bottom: 20px;
}

.product-card-header {
  position: relative;
}

.product-card-body {
  padding: 0 30px;
}

.product-card-footer {
  padding: 30px;
}

.product-card-label {
  position: absolute;
  left: 0;
  bottom: 0;
  background: red;
  padding: 10px 10px 10px 30px;
  color: white;
  font-weight: bold;
}

.product-card-cta-link {
  border: 5px solid limegreen;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.product-card-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}
